.auth-container {
    margin-bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authBtn {
    border-bottom: 2px solid transparent;
    color: #818a95;
    width: 50%;
    text-align: center;
    font-weight: 550;
    letter-spacing: 0.5px;
}

.authBtn:hover {
    color: rgba(50, 91, 255, 0.7);
    cursor: pointer;
}

.auth-tab-wrap {
    background-color: #492a2a;
    width: 90%;
    border-radius: 100px;
    font-size: 16px;
    height: 40px;
    align-items: center;
    display: flex;
}

.btnClicked {
    color: #FFF;
    width: 50%;
    text-align: center;
    background-color: #66666c;
    padding: 8px;
    border-radius: 100px;
    transition: 0.1s all linear;
    font-weight: 550;
    letter-spacing: 0.5px;
}

.authFormDiv {
    border-radius: 10px;
    margin: 30px;
    padding: 40px 0 10px 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authForm {
    min-height: 400px;
    display: flex;
    align-items: center;
}

.inputStyle {
    width: 350px;
}

.auth-btn {
    background-color: #937c84 !important;
    color: #FFF !important;
    font-weight: 550 !important;
    border: none !important;
}

.auth-form-check:checked {
    background-color: #5557d4 !important;
    border: none !important;
}

.statusMessage {
    color: red;
    text-align: center;
    font-weight: 550;
    letter-spacing: 0.5px;
}

.smallImg {
    height: 220px;
    width: 300px;
}
