html, body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    background-color: #d5d5d5;
    padding-bottom: 50px;
}

.disp-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

a {
    text-decoration: none;
}

hr {
    background-color: #1a1818;
    margin: 0 0 50px 0;
    height: 12px;
    border-top: 5px solid #1a1818;
}

p {
    margin: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main-page {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topics-toolbar {
    height: 70px;
    background-color: #8e929f;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

.topics-toolbar h5 {
    color: #423b3b;
    margin: 0;
}

.favorite-symbol {
    font-size: 24px;
    cursor: pointer;
    padding-right: 5px;
}

@media (max-width: 992px) {
    .topics-toolbar {
        width: 100%;
    }

    .topic-topic {
        flex: 4;
    }

    .topic-replies {
        display: none;
    }

    .topic-post-info {
        flex: 2
    }

    .topic-favorites {
        flex: 1
    }
}

@media (max-width: 768px) {
    .topic-post-info {
        display: none;
    }
}
