html, body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    background-color: #1a0a13;
}

.disp-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

a {
    text-decoration: none;
}

hr {
    background-color: white;
}

p {
    margin: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main-page {
    padding: 0;
    border: 3px solid #2c2626;
    min-height: 600px;
}

.topics-toolbar {
    height: 30px;
    background-color: #8e929f;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2c2626;
}

.topics-toolbar h6 {
    margin: 0;
}