html, body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    background-color: #d5d5d5;
}

.disp-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

a {
    text-decoration: none;
}

hr {
    background-color: #1a1818;
    margin: 0 0 20px 0;
    height: 12px;
    border-top: 5px solid #1a1818;
}

p {
    margin: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main-page {
    margin-top: 50px;
}

.topics-toolbar {
    height: 70px;
    background-color: #8e929f;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 5px;
}

.topics-toolbar h5 {
    color: #423b3b;
    margin: 0;
}