.profile-sidebar-wrap {
    flex-direction: column;
    align-items: flex-start;
    color: #423b3b;
}

.profile-photo-username-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-username {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.profile-photo-username-wrap hr {
    color: black;
    width: 100%;
}

.sidebar-tab-wrap {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.sidebar-tab {
    height: 40px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: 0.1s all linear;
}

.sidebar-tab:hover {
    background-color: grey;
}

.sidebar-tab p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.sidebar-tab-wrap hr {
    width: 100%;
    color: black;
}

.sidebar-underTab {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-underTab-select {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 5px;
}

.sidebar-underTab-select:hover {
    background-color: #705c5c;
}

.sidebar-underTab p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}